@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height:100%;
    width:100%;
    overflow: hidden; /*hide the scroll bar*/
    background-size: 100%;
    background-color: rgb(13,20,30);
    font-family: 'Noto Serif TC', serif;
}

#logo{
    position: absolute;
    top: 5%;
    right:3%;
    width: 225x;
    height: 180px;
    z-index:300;
}

#background {
    opacity: 1;
    /*margin-top: -455px; adjust the vertical position of the image*/
    height:100%;
    width:100%;    
    /*filter:brightness(30%); darkness of the image*/
    z-index: 100;

}

.container {
    position: relative;
}


  
#tb {
    opacity: 1;
    /*position*/
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    /*size of block*/
    width: 55%;
    height: 65%;

    /*text*/
    text-align: center;
    line-height: 180%;
    overflow-y: auto;
    overflow-x: hidden;
    
    background-color: rgba(0, 0, 0, 0.65);
    color: white; 

    /*border*/
    border-color: white;
    border-style: solid;
    border-width: 0.1px;

    z-index: 3;
}

.text-block::-webkit-scrollbar {
    display: none;
}

.text-block h4{
    letter-spacing: 0.2em;
    line-height: 80%;
    font-size: 0.4cm;
}

.text-block p{
    margin-top: -3px;
    font-size: 0.45cm;
    font-weight: 550;
}

.text-block hr{
    height:0.1px;
    border-width:0.05px;
    color:white;
}

#option{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 0;
    margin-top: 1.5%;
    padding: 0;
    width: 600px;
}

#option button{
    margin: 10px;
    padding-left: 3%;
    width: 400px;
    height: 45px;
    border-color: white;
    border-style: solid;
    background-color: transparent;
    color: white;
    font-size: 0.38cm;
    font-weight: 550;
    text-align: left;
    font-family: 'Noto Serif TC', serif;
}

/*When the cursor move over the option, it will show in this style.*/
#option button:hover{
    background-color:rgba(245, 245, 245, 0.233);
}

/*When the option have been clicked, it will show in this style.*/
#option button:focus{
    background-color:rgba(245, 245, 245, 0.233);
}

#nextBtn{
    position: absolute;
    top: 74.5%;
    right: 22.5%;
    width: 250px;
    height: 50px;

    border-color: white;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.39);
    color: white;

    font-size: 0.45cm;
    font-weight: 550;
    text-align: left;
    padding-left: 1.5%;
    letter-spacing: 0.05em;
    font-family: 'Noto Serif TC', serif;

    /*animation*/
    animation: fadbt 3s ;
    -webkit-animation: fadbt 3s ;
    animation-fill-mode : forwards;
    animation-play-state: paused;
    z-index: 10;
}
#nextBtn:hover{
    background-color:rgba(245, 245, 245, 0.233);
}


@keyframes fadbt
{   
    0%{opacity: 1;}

    100%{opacity: 0;}
}

@-webkit-keyframes fadbt /* Safari and Chrome */
{
    0%{opacity: 1;}

    100%{opacity: 0;}
}


#tb{
    opacity: 1;
    /*position*/
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    /*size of block*/
    width: 55%;
    height: 65%;

    /*text*/
    text-align: center;
    line-height: 180%;
    overflow-y: auto;
    overflow-x: hidden;
    
    background-color: rgba(0, 0, 0, 0.65);
    color: white; 

    /*border*/
    border-color: white;
    border-style: solid;
    border-width: 0.1px;
    /*animation*/
    animation: fadtb 3s ;
    -webkit-animation: fadtb 3s ;
    animation-fill-mode : forwards;
    animation-play-state: paused;

    z-index: 3;
}

@keyframes fadtb
{   
    0%{opacity: 1;}

    100%{opacity: 0;}
}

@-webkit-keyframes fadtb /* Safari and Chrome */
{
    0%{opacity: 1;}

    100%{opacity: 0;}
}


/*bus1*/
#ani1{
    width:800px;
	height:1280px;
    background-image: url("../img/fbus.png");
    position: absolute;
    top:-5%;
    right:20%;
    opacity: 0;
    /*buslighting*/

    -webkit-animation: bus1  20s steps(60)  alternate;
    animation: bus1 20s steps(60)  alternate;
    animation-play-state: paused;

    /*防止圖層覆蓋*/
    z-index: 3;
    
}

@keyframes bus1 
{   
    from { background-position: -48000px; 
        
         }
    to { background-position: 0px;
  }
}

@-webkit-keyframes bus1 /* Safari and Chrome */
{
    from { background-position:  -48000px; 
    }
    to { background-position: 0px;
}
}
/*walk*/
#ani3{
    width:1200px;
	height:750px;
    background-image: url("../img/walk2.png");
    background-repeat: no-repeat;
    position: absolute;
    top:0%;
    right:8%;
    opacity: 1;

    -webkit-animation: walk  20s steps(56)  alternate;
    animation: walk 20s steps(56) alternate;
    animation-play-state: paused;
    /*防止圖層覆蓋*/
    z-index: 1;
    
}

@keyframes walk
{   
    from { background-position: -67200px; 
        
         }
    to { background-position: 0px;
  }

}

@-webkit-keyframes walk /* Safari and Chrome */
{
    from { background-position:  -67200px; 
    }
    to { background-position: 0px;
}
}

#click1{
    position: absolute;
    top: 31.7%;
    right: 36%;
    z-index: 0;
    border: 2px solid ;
    transform: rotate(359deg);
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
    border-color: rgba(255, 255, 255, 0.336);
    width:220px;
    height: 44px;
    line-height: -0.3cm;
    font-size: 0.65cm;
    font-weight: 550;
    text-align: match-parent;
    padding-left: 1.5%;
    letter-spacing: 0.05em;
    opacity: 0;
    border-radius: 10px;
}

#click1:hover{
    border-color: rgb(255, 255, 255);
    background-color:rgba(255, 255, 255, 0.3);
}

#click2{
    position: absolute;
    top: 45%;
    right: 38%;
    z-index: 0;
    border: 2px solid ;
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
    border-color: rgba(255, 255, 255, 0.336);
    width:220px;
    height: 44px;
    line-height: -0.3cm;
    font-size: 0.65cm;
    font-weight: 550;
    text-align: match-parent;
    padding-left: 1.5%;
    letter-spacing: 0.05em;
    opacity: 0;
    
}

#click2:hover{
    border-color: rgb(255, 255, 255);
    background-color:rgba(245, 245, 245, 0.3);
}
/*
@keyframes mymove
{   
    0%{right: 340px; top: 340px; opacity: 0;}
    20%{right: 120px; top: 340px; opacity: 0.2;}
    40%{right: 360px; top: 340px; opacity: 0.4;}
    60%{right: 640px; top: 340px; opacity: 0.6;}
    80%{right: 860px; top: 340px; opacity: 0.8;}
    100%{right: 1500px; top: 340px; opacity: 1;}
}

@-webkit-keyframes mymove 
{
    0%{right: 340px; top: 340px; opacity: 0;}
    20%{right: 120px; top: 340px; opacity: 0.2;}
    40%{right: 360px; top: 340px; opacity: 0.4;}
    60%{right: 640px; top: 340px; opacity: 0.6;}
    80%{right: 860px; top: 340px; opacity: 0.8;}
    100%{right: 1500px; top: 340px; opacity: 1;}
}*/